<div ng-controller="MasterCtrl">
    <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar">
                <li class="sidebar-main">
                    <a ng-click="toggleSidebar()">
                        CO Admin
                        <span class="menu-icon glyphicon glyphicon-transfer"></span>
                    </a>
                </li>
                <li class="sidebar-title"><span>NAVIGATION</span></li>
                <li class="sidebar-list">
                    <a href="/main/dashboard">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
                </li>
                <li class="sidebar-list">
                    <a href="/main/tables">Tables <span class="menu-icon fa fa-table"></span></a>
                </li>
            </ul>
            <div class="sidebar-footer">
                <div class="col-xs-12">
                    <a href="#">
                        Support
                    </a>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->

        <div id="content-wrapper">
            <div class="page-content">

                <!-- Header Bar -->
                <div class="row header">
                    <div class="col-xs-12">
                        <div class="user pull-right">
                            <div class="item dropdown" uib-dropdown>
                                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                    <img src="img/avatar.jpg">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-header">
                                        {{loginname}}
                                    </li>
                                    <li class="divider"></li>
                                    <li class="link">
                                        <a class="btn text-center" href="" ng-click="logout()">Logout</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="item dropdown" uib-dropdown>
                                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                    <i class="fa fa-phone"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-header">
                                        <a href="skype:+990009369996200892?call">Skype IVR</a>
                                    </li>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="meta">
                            <div class="page">
                                Engagement Admin
                            </div>
                            <div class="breadcrumb-links">
                                Home / Dashboard
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Header Bar -->

                <!-- Main Content -->
                <div ui-view="dashboard"></div>
                <div ui-view="table"></div>

            </div><!-- End Page Content -->
        </div><!-- End Content Wrapper -->
    </div><!-- End Page Wrapper -->
</div>